.App {
  background-color: white;
}


label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.Login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Login-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Login-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Login-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}


.Info-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Info-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Info-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Info-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.container {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 2px;
}

.ToDoTitle {
  position: fixed;
  top: 0vw;
  left: 0vh;
  width: 25vw;
  height: 10vh;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: #5EA9BE;
  padding: 2px;
}

.ToDo {
  position: fixed;
  top: 5vw;
  left: 0vh;
  width: 25vw;
  height: 90vh;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: #5EA9BE;
  padding: 2px;
}

.RelDocsTitle {
  position: fixed;
  top: 0vh;
  left: 25vw;
  width: 75vw;
  height: 10vh;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: #CBE1EF;
  padding: 2px;
}


.RelDocsContent {
  position: fixed;
  top: 10vh;
  left: 25vw;
  width: 75vw;
  height: 40vh;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: #CBE1EF;
  padding: 2px;
}

.DriveTitle {
  position: fixed;
  top: 50vh;
  left: 25vw;
  width: 75vw;
  height: 10vh;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: #9ACDE0;
  padding: 2px;
}


.DriveContent {
  position: fixed;
  top: 60vh;
  left: 25vw;
  width: 75vw;
  height: 40vh;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: #9ACDE0;
  padding: 2px;
}