.App {
  background-color: #c8c8c8;
}


label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.Login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Login-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px; 
  background-color: #c8c8c8;
}

.Login-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Login-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}


.Info-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Info-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #c8c8c8;
}

.Info-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Info-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.container {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 2px;
  font-family: "Open Sans Light";
}

.ToDoTitle {
  text-align: center;
  position: fixed;
  top: 0vw;
  left: 0vh;
  width: 25vw;
  height: 10vh;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: #6d6e80;
  color: white;
  padding: 2px;
  font-size: xx-large;
  }

.ToDoContent {
  position: fixed;
  top: 5vw;
  left: 0vh;
  width: 25vw;
  height: 90vh;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: #C8c8c8;
  padding: 2px;
  font-size: x-large;
  text-align: center;
}

.RelDocsTitle {
  position: fixed;
  top: 0vh;
  left: 25vw;
  width: 75vw;
  height: 10vh;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: #6d6e80;
  color: white;
  padding: 2px;  
  text-align: center;
  font-size: xx-large;
}


.RelDocsContent {
  position: fixed;
  top: 10vh;
  left: 25vw;
  width: 75vw;
  height: 40vh;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: #c8c8c8;
  padding: 2px;
  font-size: x-large;
}

.RelDocsContent ul {
  display: grid;
  width: 100vw;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
  
}

.RelDocsContent img {
    display: flex;
    justify-content: space-evenly;
    width: 50px;
    height: 50px;  
}

.DriveTitle {
  position: fixed;
  top: 50vh;
  left: 25vw;
  width: 75vw;
  height: 10vh;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color:#6d6e80;
  color: white;
  padding: 2px;
  text-align: center;
  font-size: xx-large;
}


.DriveContent {
  position: fixed;
  top: 60vh;
  left: 25vw;
  width: 75vw;
  height: 40vh;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: #c8c8c8;
  padding: 2px;
  font-size: x-large;
}